body{
  margin: 0;
}
/* -----------headerここから------------*/
header {
  display: flex;
  justify-content: space-between;
}

#header-left {
  background-color: #18A0CB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 6vw 0 1vw;
}

#header-left a {
  text-decoration: none;
}

#header-left img {
  height: 1.5vw;
  padding-right:1vw;
}

#header-left h1 {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 18px;
}

#header-center {
  display: flex;
  flex-grow: 1;
}

#triangle-left {
  background-color: #18A0CB;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  margin-left: -1px;
  border-bottom: 1px solid #18A0CB;
}

#triangle-right {
  width: 50%;
  height: 100%;
  background-color: #262626;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  border-right: 2px solid #262626;
  margin-right: -1px;
}

#header-right {
  background-color: #262626;
  display: flex;
  align-items: center;
}

#nav {
  display: flex;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

.nav-div {
  margin: 10px 2vw;
  text-align: center;
}

.nav-div p {
  margin: 0;
  font-size: 11px;
}

.nav-div span {
  font-size: 14px;
}

@media screen and (max-width: 960px){

}

/* -----------headerここまで------------*/
/* -----------main-picここから -------------*/
.main-pic {
  position: relative;
}

#main-pic {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

#main-logo {
  height: 5vh;
  padding-top: 30px;
  object-fit: cover;
  object-position: center;
}

.main-pic-line {
  position: absolute;
  top: 35vh;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}

.main-pic-text p{
  font-weight: bold;
  font-size: 1.5vw;
}

@media screen and (max-width: 1280px){
  .main-pic-text p{
    font-weight: bold;
    font-size: 18px;
  }
}
@media screen and (max-width: 520px){
  .main-pic-text p{
    font-weight: bold;
    font-size: 3.5vw;
  }
}

/* -------------------main-picここまで------------- */
/* -------------ABOUTタイトルここから---------------------- */
.main-title {
  font-weight: bold; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.title-left {
  font-size: 2vw; 
}

.title-center {
  width: 30%;
  height: 3px;
  background-color: #000;
}

.title-right {
  font-size: 8vw;
  margin-top : 1rem;
  margin-bottom: 1rem;
  color: #B9B9B9;
}

@media screen and (max-width: 1280px){
  .title-left {
    font-size: 25px; 
  }
  
  .title-center {
    width: 25%;
  }
}

@media screen and (max-width: 520px){
  .title-left {
    font-size: 18px; 
  }
  .title-center {
    width: 20%;
    height: 2px;
  }
  .title-right {
    font-size: 40px;
    margin-top : 1rem;
  }
}

/* --------aboutタイトルここまで------------ */
#about-div {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  height: 140vh;
}

.wrapper-1500 {
  max-width: 1500px;
}

#about1 img{
  position: absolute;
  top: 0;
  left: 0;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  min-width: 50%;
}

#about2 img{
  position: absolute;
  top: 50vh;
  right: 0vw;
  height: 45vh;
  min-width: 50%;
  object-fit: cover;
  object-position: center;
  
}

#about3 img{
  position: absolute;
  top: 100vh;
  left: 0vw;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  min-width: 50%;
}

#about-text1 {
  padding: 40px 50px 40px 60px;
  position: absolute;
  top:15vh;
  right: 5vw;
  max-width: 60%;
}

#about-text1::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(-20deg);
  z-index: -1;
}

#about-text2 {
  padding: 30px 50px 30px 60px;
  position: absolute;
  top: 65vh;
  left: 5vw;
  z-index: 10;
}

#about-text2::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(25deg);
  z-index: -1;
}

#about-text3 {
  padding: 40px 50px 40px 60px;
  position: absolute;
  top:115vh;
  right: 5vw;
}

#about-text3::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(-26deg);
  z-index: -1;
}

.about-text {
  z-index: 50;
}

.about-text h3 {
  font-size: 30px;
  z-index: 30;
  margin: 0;
}

.about-text p {
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 1280px){
  #about-div {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    height: 140vh;
    overflow-x: hidden;
  }
  
  .wrapper-1500 {
    max-width: 1280px;

  }
  
  #about1 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    min-width: 50%;
  }
  
  #about2 img{
    position: absolute;
    top: 50vh;
    right: 0vw;
    height: 40vh;
    min-width: 50%;
    object-fit: cover;
    object-position: center;
    
  }
  
  #about3 img{
    position: absolute;
    top: 100vh;
    left: 0vw;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    min-width: 50%;
  }
  
  #about-text1 {
    padding: 30px 30px 30px 60px;
    position: absolute;
    top:10vh;
    right: 5vw;
    max-width: 40%;
  }
  
  #about-text2 {
    padding: 30px 30px 30px 60px;
    position: absolute;
    top: 60vh;
    left: 5vw;
    z-index: 10;
    max-width: 40%;
  }
  
  #about-text3 {
    padding: 40px 50px 40px 60px;
    position: absolute;
    top:110vh;
    right: 5vw;
    max-width: 40%;
  }

  .about-text h3 {
    font-size: 25px;
    z-index: 30;
    margin: 0;
  }
  
  .about-text p {
    font-size: 18px;
    margin: 0;
  }
}
@media screen and (max-width: 960px){
  #about-div {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
  }
  
  .wrapper-1500 {
    max-width: 960px;
  }

  #about1,#about3 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #about2 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  #about1 img{
    position: static;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    min-width: 70%;
  }
  
  #about2 img{
    position: static;
    height: 30vw;
    min-width: 70%;
    object-fit: cover;
    object-position: center;
    order: 1;
  }
  
  #about3 img{
    position: static;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    min-width: 70%;
  }

  .about-text {
    width: 100%;
  }

  #about-text1 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  #about-text1::before {
    content: none;
    position: static;
  }
  
  #about-text2 {
    padding: 0px;
    position: static;
    z-index: 10;
    order: 2;
    width: 100%;
    max-width: 100%;
  }

  #about-text2 h3 {
    text-align: left;
    margin: 15px 0 0 45%;
  }

  #about-text2 p {
    text-align: left;
    margin: 0 0 25px 45%;
  }
  
  #about-text2::before {
    content: none;
    position: static;
  }
  
  #about-text3 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  #about-text3::before {
    content: none;
    position: static;
  }
  
  .about-text h3 {
    font-size: 23px;
    z-index: 30;
    margin: 15px 0 0 15px;
  }
  
  .about-text p {
    font-size: 14px;
    margin: 0 0 15px 15px;
  }
}

@media screen and (max-width: 520px){
  .wrapper-1500 {
    max-width: 520px;
  }

  #about-text1 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }

  #about-text1 p,#about-text3 p {
    margin: 0 35% 25px 10px;
  }

  br {
    display: none;
  }
  
  #about-text2 {
    padding: 0px;
    position: static;
    z-index: 10;
    order: 2;
    width: 100%;
    max-width: 100%;
  }

  #about-text2 h3 {
    text-align: left;
    margin: 15px 0 0 35%;
  }

  #about-text2 p {
    text-align: left;
    margin: 0 0 25px 35%;
  }
  
  #about-text3 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  .about-text h3 {
    font-size: 18px;
    z-index: 30;
    margin: 15px 0 0 10px;
  }
  
  .about-text p {
    font-size: 14px;
    margin: 0 80% 15px 15px;
  }
}
/* ---------blue-back------------- */
.blue-back {
  background-color: #18A0CB;
  width: 100%;
  margin-top: 100px;
  padding-top: 50px;
}

.blue-back h4 {
  color: #fff;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-right: 30px;
}

.blue-back p{
  font-size: 20px;
  margin-top: 10px;
}

#blue1,#blue2,#blue3{
  display: flex;
  justify-content: center;
}

#blue2,#blue3 {
  margin-top: 50px;
}

@media screen and (max-width: 960px){
  .blue-back {
    background-color: #18A0CB;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .blue-back h4 {
    color: #fff;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .blue-back p{
    font-size: 16px;
    margin-top: 5px;
  }
  
  #blue2,#blue3 {
    margin-top: 50px;
  }

  
#blue1,#blue2,#blue3{
  display: block;
}
}
@media screen and (max-width: 520px){
  .blue-back {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .blue-back h4 {
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .blue-back p{
    font-size: 14px;
    margin-top: 5px;
  }
  
  #blue2,#blue3 {
    margin-top: 50px;
  }

  #blue1,#blue2,#blue3{
    display: block;
  }

  /* br {
    display: inline;
  } */
}

/* ------------会社概要----------------- */
.gray-back {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #B9B9B9;
}

.gray-back h5 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  margin: 60px auto 30px auto;
}
#about-flex {
  display: flex;
}

#about-flex-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#about-flex-left img {
  padding: 30px;
  max-width: 80%;
}

#about-pic2 {
  max-height: 400px;
}

#about-flex-right {
  width: 50%;
}

#about-flex-right dt{
  float: left;
  width: 20%;
  text-align: left;
  font-size: 18px;
}

#about-flex-right dd{
  text-align: left;
  width: 80%;
  font-size: 18px;
}

@media screen and (max-width: 960px){
  .gray-back {
    height: 80px;
    line-height: 80px;
  }
  
  .gray-back h5 {
    font-size: 40px;
    margin: 50px auto 30px auto;
  }
  #about-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  
  #about-flex-left {
    display: flex;
    justify-content: space-around;
    flex-direction: unset;
    width: 100%;
  }
  
  #about-flex-left img {
    padding: 10px;
    max-width: 50%;
    width: 50%;
    box-sizing: border-box;
  }
  
  #about-pic1 {
    object-fit: cover;
  }
  
  #about-flex-right {
    width: 100%;
    margin: 0 auto;
  }
  
  #about-flex-right dt{
    float: left;
    width: 20%;
    text-align: left;
    font-size: 18px;
  }
  
  #about-flex-right dd{
    text-align: left;
    width: 80%;
    font-size: 18px;
  }
  #about-flex-right dt{
    float: left;
    width: 20%;
    font-size: 16px;
  }
  
  #about-flex-right dd{
    width: 80%;
    font-size: 16px;
  }
}

/* ----------取引先・銀行--------------- */
#partner-flex {
  display: flex;
  justify-content: space-around;
}

#partner-left p,#partner-right p{
  font-size: 18px;
  margin: 0;
}

.A8C0D1{
  font-size: 60px;
  color: #A8C0D1;
  margin: 20px 0;
}

@media screen and (max-width: 780px){
  #partner-left {
    width: 50%;
  }

  br {
    display: inline;
  }

  .A8C0D1{
    font-size: 40px;
    color: #A8C0D1;
    margin: 20px 0;
  }

  #partner-left p,#partner-right p{
    font-size: 16px;
    margin: 10px 0;
  }
}

/* ------------------沿革-------------------- */
#enkaku dl{
  width: 100%;
  margin: 20px auto;
}

#enkaku dt {
  float: left;
  width: 15%;
}

#enkaku dd {
  width: calc(100%-15%);
}
/* -----------footer------------- */
footer {
  background-color: #262626;
  color: #fff;
}

#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
}

footer dl {
  margin-top: 30px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
}

#footer-left dd {
  margin-top: 10px;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}


@media screen and (max-width: 780px){
  
#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
  flex-direction: column;
}

#footer-left div img {
  width: 30%;
  margin-left: 10px;
}

footer dl {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
  font-weight: bold;
}

#footer-left dd {
  margin-top: 10px;
  margin: 0;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
}
}
@media screen and (max-width: 550px){
  #footer-flex {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #footer-left {
    max-width: 400px;
    width: 100%;
    margin: 0 0 0 80px;
  }
  
  #footer-right {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  
  #footer-left h4 {
    font-size: 24px;
    margin: 0 0 0 10px;
  }
  
  #footer-left div {
    display: flex;
    flex-direction: column;
  }
  
  #footer-left div img {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  footer dl {
    margin-top: 20px;
    display: inline-block;
    padding-left: 0;
    width: 100%;
  }
  
  #footer-left dt {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  #footer-left dd {
    margin-top: 10px;
  }
  
  #footer-left #dt-top {
    margin-top: 10px;
  }

  #footer-left #dd-id {
    margin-left: 50px;
    margin-top: 0;
  }
  
  #copy {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
  }
  
  iframe {
    width: 80%;
  }
  }